<!-- not necessary to render errors page because of flash error notice combined with bootstrap_form notice -->
<!-- including anyway for sake of practice -->
<%= render 'layouts/errors', object: @post %>

<%= bootstrap_form_for(@post) do |f| %>

  <div class="form-group">
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.text_area :body %>
  </div>

  <%= f.submit %>

<% end %>
