<h2>
  <%= link_to @post.title, edit_post_path(@post) %>
  <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, post_path(@post), data: {confirm: "Are you sure?", method: "delete"}, id: "delete-post-#{@post.id}" %>
</h2>
<h4><%= @post.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%A %I:%M %p on %B %d, %Y %Z") %></h4>
<% unless @post.created_at == @post.updated_at %>
 <h4>(edited <%= @post.updated_at.in_time_zone('Pacific Time (US & Canada)').strftime("%A %I:%M %p on %B %d, %Y %Z") %>)</h4>
<% end %>
<p class="well">
  <%= link_to @post.body, edit_post_path(@post) %>
</p>

<div class="comments">
  <ul class="">
    <% @post.comments.each do |comment| %>
      <li><%= link_to comment.text, edit_post_comment_path(@post, comment) %> <small>(<%= comment.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%I:%M %p %m/%d/%y") %>)</small></li>
    <% end %>
  </ul>
  <%= bootstrap_form_for([@post, Comment.new]) do |f| %>
    <div class="form-group">
      <%= f.text_area :text %>
    </div>
    <%= f.submit "Add Comment" %>
  <% end %>
</div>