<h2>
  <%= link_to @post.title, edit_post_path(@post) %>
  <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, post_path(@post), data: {confirm: "Are you sure?", method: "delete"} %>
</h2>
<h4><%= @post.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%A %I:%M %p on %B %d, %Y %Z") %></h4>
<% unless @post.created_at == @post.updated_at %>
 <h4>(edited <%= @post.updated_at.in_time_zone('Pacific Time (US & Canada)').strftime("%A %I:%M %p on %B %d, %Y %Z") %>)</h4>
<% end %>
<p class="well">
<%= link_to @post.body, edit_post_path(@post) %>
</p>